[DESIGN]
max-args = 15
max-attributes = 15
max-locals = 50
max-module-lines = 2000
max-parents = 12
max-public-methods = 50
max-statements = 150

[FORMAT]
max-line-length = 120

[BASIC]
good-names = id, s, op, f

[MESSAGE CONTROL]
disable = missing-docstring, too-few-public-methods, duplicate-code
